<div class="flex-column outer bgImg ">
    <div style="background: rgba(0,0,0,0.5); height:100%;">
        <div id="header" class="navbar navbar-default ">
            <header></header>
        </div>
        <div id="wrapper" class="flex-row">
            <div id="sidebar-wrapper">
                <side-menu></side-menu>
            </div>
            <div id="main-wrapper">
                <div id="main" class="text-color ">
                    <div *ngIf="user.role==='Doctor'">
                        <p><b>Doctor Dashboard - Doctor's Name: Dr. {{user.name}}</b></p>
                    </div>
                    <div *ngIf="user.role==='Patient'">
                        <p><b>Patient Dashboard - Patient's Name: {{user.name}}</b></p>
                    </div>
                    <div style="width: 100%">
                        <div class="images notes">
                            <i class="material-icons icon_size">speaker_notes</i>
                            <div style="color: white; margin-left: 20%;">Upcoming Tests</div>
                        </div>
                        <div class="images reports">
                            <i class="material-icons icon_size">featured_play_list</i>
                            <div style="color: white; margin-left: 25%;">New Reports</div>
                        </div>
                        <div class="images auth_reports">
                            <i class="material-icons icon_size">featured_play_list</i>
                            <div style="color: white;  margin-left: 20%;">Authorized Reports</div>
                        </div>
                        <div class="images consultation">
                            <i class="material-icons icon_size">slow_motion_video</i>
                            <div style="color: white;  margin-left: 20%;">Doctor Consultation</div>
                        </div>
                    </div>
                    <div>
                        <p><b>Medical Records</b></p>
                    </div>
                    <!-- <router-outlet></router-outlet> -->
                    <div *ngIf="rows">
                        <table [rows]="rows"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>