<nav class="flex-row header">
  <a class="navbar-brand dashboard" href="#">
        Dashboard
    </a>
  <ul class="flex-row justify-content-end nav-padding">
    <li class=" text_decor">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile</a>
      <ul class="dropdown-menu pull-right">
        <li><a href="">Log Out</a></li>
        <a href="#" class="logout">Log Out</a>
      </ul>
    </li>
  </ul>

  <ul class="nav navbar-nav justify-content-end nav-padding">
    <li class="text_decor"><a href="">Log Out</a></li>
    <!-- <li class="dropdown text_decor">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>  Username <i class="icon-sort-down"></i></a>
      <ul class="pull-right">
         <li><a href="">Log Out</a></li> 
      </ul>
    </li> -->
  </ul>
</nav>